<header class="page-header">
<h1> Admin &raquo; Dashboard </h1>
</header>

<div class="alert alert-info">
  <h4> Total Products : <%= @products_count %></h4>
</div>

<div class="alert alert-info">
  <h4> Total Categories : <%= @category_count %></h4>
</div><br>

<div class="product-pages">
  <%= link_to "View All Products", admin_products_path, class: "btn btn-info", style: "margin-right: 10px" %>
  <%= link_to '+ New Product', [:new, :admin, :product], class: 'btn btn-info' %>
</div>