<header class="page-header">
  <h1>About</h1>
</header>

<div class="card text-center">
  <p class="count-text ">
  Welcome to our online store, where we offer a range of high-quality plants to elevate your living space. Our carefully selected collection includes a variety of beautiful and healthy plants to suit any style. Our team of plant enthusiasts is always available to assist you in choosing the perfect plant for your home or workspace. We take pride in providing excellent customer service, from easy ordering to fast and safe shipping. Shop with us today and bring the beauty and benefits of plants into your life.
  </p>                    
</div>
